@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");

body {
  font-family: "Sawarabi Mincho", sans-serif;
  word-break: break-all;
}

body * {
  font-size: 1em;
}

h1 {
  font-size: 2em;
  line-height: 2.5em;
}

h2 {
  font-size: 1.8em;
  line-height: 2.2em;
}

h3 {
  font-size: 1.6em;
  line-height: 1.8em;
}

h4 {
  font-size: 1.4em;
  line-height: 1.5em;
}

h5 {
  font-size: 1.2em;
  line-height: 1.2em;
}

button,
p {
  font-weight: bold;
}

#editor {
  width: 50%;
}

li {
  margin-bottom: 0.5em;
}

#editor-textarea,
#preview-content {
  padding: 5px;
  height: 70vh;
  resize: none;
  overflow: auto;
}

#editor-textarea {
  font-size: 20px;
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "sans-serif";
  font-weight: bold;
  line-height: 1.9;
}

#preview-content blockquote {
  padding-left: 6px;
  border-left: 4px solid #777777;
}

#preview-content table {
  width: 100%;
  border-collapse: collapse;
}

#preview-content table th,
#preview-content table td {
  padding: 1vmin;
  border: solid 2px #777777;
  word-break: break-all;
}

#preview-content table tbody tr:hover {
  opacity: 0.75;
}

#preview-content img {
  width: 100%;
}

#preview-content a {
  word-break: break-all;
}

#preview-content pre {
  white-space: pre-wrap;
}

#preview-content pre,
#preview-content pre code,
#preview-content pre code span {
  word-break: break-all;
}

.historyItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
